body {
    background-color: #404040;
    color: white;
}

.jumbotron {
    background-color: gray;
    background: url("../images/tt.JPG") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin-top: 10px;

}
#header {
    text-align: center;
    background-color: clear;
    color: white;
    padding: 0px;
}

.panel-title,
.panel-heading {
    background-color: gray !important;
    color: white !important;
}

.panel-primary {
    border-color: black;
}

.panel-primary>.panel-heading {
    border-color:black;
}

.panel-body {
    background-color: gray;
    background: url("../images/tt.JPG") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#image {
    width: 100px;
    height: 100px;
}

/* media query width for 1024px and below */
@media screen and (max-width: 1024px) {
    body {
    background-color: black;
    background: black;
    } 
  }

#masthead {
    position: static;
}